    <footer>
        <p>Data provided by <a href="https://www.yelp.com/developers/documentation/v2/overview" target=_blank>Yelp API</a></p>

    </footer>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>